<h2>{{ headerMessage }}</h2>
<mat-card *ngIf="contact">  
    <mat-form-field>
        <input placeholder="Contact Name" type="text" matInput [(ngModel)]="contact.name" />
    </mat-form-field>
    <mat-form-field>
        <input placeholder="Contact Phone" type="text" matInput [(ngModel)]="contact.phone" />
    </mat-form-field>
    <div>
        <mat-form-field>
            <mat-select [placeholder]="companyPlaceholder" [(ngModel)]="selectedCompany">
                <mat-option *ngFor="let company of companies" [value]="company">{{company.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="addCompany()">Add Company</button>        
    </div>
    <mat-list>
        <mat-list-item *ngFor="let company of contactCompanies">
            {{company.name}}
        </mat-list-item>
    </mat-list>
    <mat-card-actions align="right">
        <button *ngIf="isNewContact" (click)="saveContact(contact)" 
                mat-button
                color="primary">Save Contact</button>
        <button *ngIf="!isNewContact" (click)="updateContact(contact)" 
                mat-button
                color="primary">Update Contact</button>
        <button *ngIf="!isNewContact" (click)="deleteContact(contact)"
                mat-button
                color="primary">Delete Contact</button>
        <button mat-button color="primary" (click)="cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
