<h2>Company Edit</h2>
<mat-card *ngIf="company$ | async as company">  
    <mat-form-field>
        <input placeholder="Company Name" type="text" matInput [(ngModel)]="company.name" />
    </mat-form-field>
    <mat-form-field>
            <input placeholder="Company Phone" type="text" matInput [(ngModel)]="company.phone" />
        </mat-form-field>
    <mat-card-actions align="right">
        <button *ngIf="isNewCompany" (click)="saveCompany(company)" 
                mat-button
                color="primary">Save Company</button>
        <button *ngIf="!isNewCompany" (click)="updateCompany(company)" 
                mat-button
                color="primary">Update Company</button>
        <button *ngIf="!isNewCompany" (click)="deleteCompany(company)"
                mat-button
                color="primary">Delete Company</button>
    </mat-card-actions>
</mat-card>
